/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

:root {
	--pg-color:white;
	--bg-color: #3a4860;
	--txt-color:#000000;
	--hvr-color:#515F77;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
html {
	font-family:sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	background-color:var(--pg-color);
}


h1 {
	font-size:36pt;
	color:var(--txt-color);
	text-align:center;
	padding:8px;
	margin:0px;
	text-transform:capitalize;
}

h2 {
	text-align:center;
	color:var(--txt-color);
	padding:8px;
	margin:0px;
}

.topBar {
	position:absolute;
	height:60px;
	width:100%;
	transition:.3s;
	background-color:var(--bg-color);
}

.sideMenu {
	position:absolute;
	height:100%;
	width:0px;
	z-index:1;
	overflow-x:hidden;
	transition:.3s;
	padding-top:20px;
	background-color:var(--bg-color);
}

.sideMenu .menuOption {
	font-size:40px;
	color:var(--txt-color);
	white-space:nowrap;
	text-decoration:none;
	margin:5px 5px 5px 5px;
	padding:0px 0px 0px 20px;
	display:block;
}

.sideMenu .menuHeader {
	position:absolute;
	color:var(--txt-color);
	margin:30px 5px 5px 5px;
	padding:0px 50px 0px 10px;
	font-size:40px;
	white-space:nowrap;
	text-decoration:none;
}

.sideMenu .menuOption:hover {
	background-color:var(--hvr-color);
}

.sideMenu .closeButton {
	position:absolute;
	text-decoration:none;
	top:-3px;
	font-size:30px;
	color:#000000;
	right:10px;
	cursor:pointer;
}

.icon {
	position:relative;
	cursor:pointer;
	top:5px;
	left:5px;
	width:50px;
	height:50px;
}

.icon .homeButton {
	position:absolute;
}

.profileThumbnail {
	width:70px;
	height:70px;
	margin:0px 0px 10px 10px;
}

.dropArrow {
	height:20px;
	width:20px;
	margin-right:10px;
	transition:.3s;
}

.dropMenu {
	position:relative;
	overflow-x:hidden;
	height:0px;
	top:-5px;
	background-color: transparent;
	transition:.3s;
}

.dropMenu .dropOption {
	font-size:20px;
	font-weight:normal;
	color:var(--txt-color);
	transition:.3s;
	white-space:nowrap;
	text-decoration:none;
	margin:5px 5px 5px 5px;
	padding:0px 0px 0px 5px;
}

.setting {
	text-align: left;
	color:var(--txt-color);
	cursor:default;
	padding-right:80px;
}

.divider {
	background-color:var(--txt-color);
	height:1px;
	width:390px;
	z-index:1;
	overflow-x:hidden;
	transition:.3s;
	margin-left:5px;
	margin-right:5px;
}

.titleUnderline {
	background-color:var(--txt-color);
	height:1px;
	width:300px;
	margin-bottom:10px;
}

.page {
	background-color:var(--pg-color);
	position:relative;
	top:60px;
}
.pageItems {
	margin-top: 20%;
	text-align:center;
	color:var(--txt-color);
	padding: 0;
}

.homeOptions {
	font-size:20pt;
	margin:10px;
	width:350px;
	padding:30px;
	color:var(--txt-color);
}

.toPainMenu {
	position: relative;
	text-align: center;
	font-size:20pt;
	margin-top:10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;;
	display: flex;
	padding:30px;
	color:var(--txt-color);
}

.toInstructions{
	position: relative;
	text-align: center;
	font-size:20pt;
	margin-top:10px;
	margin-bottom: 10px;
	margin-left: 3%;
	margin-right: 3%;
	display: inline-block;
	padding:30px;
	color:var(--txt-color);
}

.centeringBox {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.center{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.painMessage{
	margin-right: 10px;
}

.jumbotron {
	position: relative;
	background: none;
}

.textField {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  background-color: #f6f6f6;
	color: var(--txt-color);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  display: block
}

#myMenu li a:hover {
  background-color: var(--hvr-color);
}

.flip {
  transform: rotate(-180deg);
}

.drop {
	height:200px;
	background-color:var(--bg-color);
}

.iframe-container{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}

.iframe-container iframe{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}

.ExDetail-descriptionSteps {
		margin-top: 10px;
    margin-left: 3%;
		margin-right: 3%;
    padding-left: 1em;
}

.ExDetail-descriptionStep {
    margin-bottom: .8em;
}
