/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
html {
	font-family:sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h1 {
	font-size:36pt;
	text-align:center;
	padding:8px;
	margin:0px;
}

h2 {
	text-align:center;
	padding:8px;
	margin:0px;
}

.topBar {
	position:absolute;
	height:60px;
	width:100%;
	background-color:#3a4860;
}

.sideMenu {
	position:absolute;
	height:100%;
	width:0px;
	z-index:1;
	overflow-x:hidden;
	transition:0.4s;
	padding-top:20px;
	background-color:#3a4860;
}

.sideMenu .menuOption {
	font-size:40px;
	white-space:nowrap;
	color:#000000;
	text-decoration:none;
	margin:5px 5px 5px 5px;
	padding:0px 0px 0px 70px;
	display:block;
}

.sideMenu .menuHeader {
	font-size:40px;
	color:#000000;
	white-space:nowrap;
	text-decoration:none;
	margin:5px 5px 5px 5px;
	padding:0px 50px 0px 20px;
	display:block;
}

.sideMenu .menuOption:hover {
	background-color:#91a1bc;
}

.sideMenu .closeButton {
	position:absolute;
	text-decoration:none;
	top:-3px;
	font-size:30px;
	color:#000000;
	right:10px;
	cursor:pointer;
}

.icon {
	position:relative;
	cursor:pointer;
	top:5px;
	left:5px;
	width:50px;
	height:50px;
}

.icon .homeButton {
	position:absolute;
}

.profileThumbnail {
	width:50px;
	height:50px;
	margin-bottom:5px;
}

.dropArrow {
	height:20px;
	width:20px;
	transition:.3s;
	transform:rotate(0deg);
}

.divider {
	background-color:#ffffff;
	height:1px;
	width:390px;
	z-index:1;
	overflow-x:hidden;
	transition:0.4s;
	margin-left:5px;
	margin-right:5px;
}

.page {
	position:relative;
	top:60px;
}
.pageItems {
	text-align:center;
}

.homeOptions {
	font-size:20pt;
	margin:10px;
	width:350px;
	padding:30px;

}

.jumbotron {
	position: relative;
	background: none;
}

.textField {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}
